* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-y: hidden;
    font-weight: 100;
}


.container {
    font-family: "Poiret One";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9em;
    color: aliceblue;
}

.days {
    font-weight: bold;
    position: absolute;
    font-size: 1.5em;
    color:aliceblue;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 62%;
}

body {
    height:100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.tester {
    position: absolute;
    top: 40%;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 100px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 0 150px 150px 0;
    /* border-radius: 150px 0 150px 0; LEAF */
}
.tester:hover {
    padding: 100px 15px;
    border-radius:50%;
    border-radius: 0 150px 150px 0;
    animation-name: slidein;
    animation-duration: 1s;

}

@keyframes slidein {
    from {
        margin-right: 100%;
    }
    to {
        margin-left: 0.01%;
    }
}
.test {
    position: absolute;
    top: 40%;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 100px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 0 150px 150px 0;
}
.test:hover {
    padding: 100px 15px;
    border-radius:50%;
    border-radius: 0 150px 150px 0;

}
#sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width:0px;
    height:100vh;
    background:rgb(32, 163, 180);
/*     radial-gradient(black, transparent) maybe potential */
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;

}

::-webkit-scrollbar {
    width:5px;
}
#tester {
    overflow-x: hidden;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}
#sidebar ul li {
    overflow-x: hidden;
    color:aliceblue;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}
.sidehead {
    overflow-x: hidden;
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    margin-top:5vh;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}
.tab {
    font-family: "Scada";
    font-size: 1.5em;
	font-weight: 300;
	color: black;
	margin-bottom: 1rem;
    cursor: pointer;
    border-bottom: #c44343 solid 2px;
}
.tab:hover {
    background:rgb(101, 198, 223);
}
.tabs-content {
    overflow-y: auto;
}

.backgrounds {
    overflow-y: show;
    background: transparent;
    width: 300px;
    padding: .5em;
    height: 5000px;
    color:white;
    font-size: 10px;
}
.cards{
    margin-top: 20px;
    max-width: 100%;
    height: 150px;
    cursor: pointer;
    border: 1px solid white;
    
}
.cards:hover {
    background:black;
    border:5px solid rgb(85, 79, 79);
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.styles {
    display: flex;
}

.task .actions button {
    color:white;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}
.task .actions button:active {
    opacity: 0.6;
}

.cutie {
    margin-top: 900px;
    position: absolute;
    height: 100px;
    opacity: 0%;
}
.poopy {
    width:auto;
    max-height: 100%;
    object-fit: contain;
}
select{
    width: 70%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid white;
    color:#000000;
    font-size: 20px;
    margin-top: 1vh;
    background: rgb(145, 228, 145);
}
.Soption {
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;

}
.option_style {
    margin-top: 2vh;
    color:#ffffff;
    text-align: center;
    font-family: "scada";
    
}

#colon {
    font-size: 100px;
    /* font-size: 1.7em; */
    font-weight: 100;
}
.colon{
    font-size: 2em;
}
